.wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.TOP {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#epixlab {
  width: 300px;
  height: 70px;
}
#epix_logo {
  width: 300px;
  height: 60px;
}
.home {
  display: flex;
  width: 700px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-family: Ageo;
  font-style: normal;
  font-weight: 500;
}
#H {
  color: black;
  font-size: 25px;
  font-weight: 700;
  line-height: 28.5px;
}
.Log {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 70px;
  align-items: center;
  font-size: 25px;
  margin-right: 10px;
}

#sign {
  width: 55%;
  height: 55px;
  border-radius: 10px;
  background: #f60;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-family: Ageo;
  font-size: 20px;
}

.SECTION-2 {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-evenly;
}
#boost {
  margin-top: 100px;
  margin-left: 15%;
  width: 100%;
  height: 100%;
  flex-shrink: auto;
  color: #0b1b35;
  font-family: Ageo;
  font-size: 75px;
  font-style: normal;
  font-weight: 850;
  line-height: 81px;
}
#frame-1 {
  display: flex;
  width: auto;
  height: 800px;
  flex-shrink: auto;
  margin-right: 10%;
}
#man {
  width: auto;
  height: 1000px;
}
#our_goal {
  width: auto;
  height: auto;
  color: #000;
  font-family: Ageo;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  margin-top: 200px;
  margin-left: 1px;
}
.get_learn {
  width: 330px;
  height: 49px;
  margin-top: 125px;
  display: flex;
  justify-content: space-between;
}
#orange {
  width: 152px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f60;
  text-align: center;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
#learn {
  width: 120px;
  color: #000;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  text-align: center;
  background-color: #fff;
  border: #fff;
}
.VISION {
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: 129px;
}
#service {
  color: #8a898e;
  text-align: center;
  font-family: Ageo;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  letter-spacing: 6.3px;
}
#our {
  color: #0b1b35;
  text-align: center;
  font-family: Ageo;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  margin-top: 19px;
}
.cards {
  display: flex;
  margin-left: 135px;
  margin-right: 135px;
  justify-content: space-between;
  margin-top: 108px;
}
#gra {
  width: 352px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(0, 0, 0, 0.02),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}

#gra-1 {
  width: 76.469px;
  height: 76.47px;
  flex-shrink: 0;
  background-image: url(line_gra.svg);
  margin: 0 auto;
  margin-top: 30px;
}
#gra-2 {
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  margin-top: 41px;
}
#gra-3 {
  width: 270px;
  height: 187px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px;
  margin: 0 auto;
  margin-top: 32px;
}
#gra-4 {
  width: 162px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f60;
  text-align: center;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 18px;
  margin-left: 95px;
  text-align: center;
}
#vid {
  width: 352px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(0, 0, 0, 0.02),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}
#vid-1 {
  width: 76.469px;
  height: 57.351px;
  flex-shrink: 0;
  background-image: url(Video.svg);
  margin: 0 auto;
  margin-top: 41px;
}
#vid-2 {
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  margin-top: 49px;
}
#vid-3 {
  width: 270px;
  height: 187px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px;
  margin: 0 auto;
  margin-top: 32px;
}
#vid-4 {
  width: 162px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f60;
  text-align: center;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 18px;
  margin-left: 95px;
}
#dig {
  width: 352px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(0, 0, 0, 0.02),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}
#dig-1 {
  width: 76.469px;
  height: 76.47px;
  flex-shrink: 0;
  background-image: url(Chart.svg);
  margin: 0 auto;
  margin-top: 30px;
}
#dig-2 {
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  margin-top: 41px;
}
#dig-3 {
  width: 270px;
  height: 187px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px;
  margin: 0 auto;
  margin-top: 32px;
}
#dig-4 {
  width: 162px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f60;
  text-align: center;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 18px;
  margin-left: 95px;
}
.SECTION-3 {
  display: flex;
  justify-content: space-evenly;
}
#many {
  margin-top: 198px;
  width: auto;
  height: auto;
  flex-shrink: 0;
  color: var(--colors-heading, #1e0e62);
  font-family: DM Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
#frame-2 {
  display: flex;
  flex-shrink: 0;
  border-radius: 10px;
  margin-top: 181px;
}
#chair {
  width: 800px;
  height: 500px;
}
#Startup {
  width: auto;
  height: auto;
  flex-shrink: 0;
  color: var(--colors-text, rgba(21, 20, 57, 0.4));
  font-family: DM Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 240x;
  margin-top: 30px;
}
.exp {
  width: 132.68px;
  height: 48.247px;
  flex-shrink: 0;
  border: 1px solid #d2d0d4;
  margin-top: 72px;
  color: var(--colors-heading, #1e0e62);
  text-align: center;
  border-radius: 30px;
  /* Buttons / Small */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 48.247px; /* 137.5% */
}

.CLIENTS {
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: 129px;
}
#test {
  color: #8a898e;
  text-align: center;
  font-family: Ageo;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  letter-spacing: 4.3px;
}
#what {
  color: #0b1b35;
  text-align: center;
  font-family: Ageo;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  margin-top: 19px;
}

.container {
  grid-template-columns: 470px 470px;
  grid-template-rows: 237px 237px;
  display: grid;
  margin-top: 101px;
  justify-content: space-evenly;
}
#fb-1 {
  width: 670px;
  height: auto;
  flex-shrink: 0;
  display: flex;
}
#foto-1 {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  margin-top: 35px;
  margin-left: 35px;
}

#text-1 {
  width: 507px;
  height: 353px;
  color: #0b1b35;
  font-family: DM Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 40px;
  margin-left: 30px;
}
#n-1 {
  color: #0b1b35;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.30000001192092896;
  margin-top: 25px;
}
#fb-2 {
  width: 670px;
  height: 437px;
  flex-shrink: 0;
  display: flex;
}
#foto-2 {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  margin-top: 35px;
  margin-left: 35px;
}
#text-2 {
  width: 507px;
  height: 353px;
  color: #0b1b35;
  font-family: DM Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 40px;
  margin-left: 30px;
}
#n-2 {
  color: #0b1b35;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.30000001192092896;
  margin-top: 25px;
}
#fb-3 {
  width: 670px;
  height: 437px;
  flex-shrink: 0;
  display: flex;
}
#foto-3 {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  margin-top: 35px;
  margin-left: 35px;
}
#text-3 {
  width: 507px;
  height: 353px;
  color: #0b1b35;
  font-family: DM Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 40px;
  margin-left: 30px;
}
#n-3 {
  color: #0b1b35;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.30000001192092896;
  margin-top: 25px;
}
#fb-4 {
  width: 670px;
  height: 437px;
  flex-shrink: 0;
  display: flex;
}
#foto-4 {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  margin-top: 35px;
  margin-left: 35px;
}
#text-4 {
  width: 507px;
  height: 353px;
  color: #0b1b35;
  font-family: DM Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 40px;
  margin-left: 30px;
}
#n-4 {
  color: #0b1b35;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.30000001192092896;
  margin-top: 25px;
}
.TEAM {
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: 129px;
}
#our-team {
  color: #8a898e;
  text-align: center;
  font-family: Ageo;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  letter-spacing: 6.3px;
}
#Subscribe {
  color: #0b1b35;
  text-align: center;
  font-family: Ageo;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px;
  margin-top: 19px;
}
.email {
  display: flex;
  height: 250px;
  width: 1180px;
  margin: 0 auto;
  margin-top: 100px;
}
#picture {
  margin-left: 120px;
}
#lorem {
  width: 710px;
  height: 250px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px;
  margin-left: 99px;
}

#here {
  width: 640px;
  height: 77px;
  flex-shrink: 0;
  border-radius: 49px;
  background: #fff;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(0, 0, 0, 0.02),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  margin-top: 23px;
  border: 1px solid #969696;
  line-height: 77px;
  padding-left: 67px;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #969696;
}
#news {
  width: 700px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f60;
  margin-top: 30px;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.footer {
  width: 1166px;
  height: 23px;
  margin: 0 auto;
  margin-top: 211px;
  display: flex;
  justify-content: space-between;
}
#minilogo {
  width: 111px;
  height: 23px;
  background-image: url(Logo-mini.png);
}
#rights {
  width: 369px;
  color: var(--colors-heading, #1e0e62);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#portfolio {
  display: flex;
  justify-content: space-between;
  width: 455px;
  color: var(--colors-heading, #1e0e62);
  align-items: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
