/* head {
  box-sizing: border-box;
} */
/* *, *::after, *::before{
  box-sizing: border-box;
} */

.wrapper {
  width: 1440px;
  height: 4541px;
  border: 1px solid black;
  /* display: flex; */
}

.TOP {
  width: 1170px;
  height: 49px;
  margin-top: 48px;
  margin-left: 135px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#epixlab {
  width: 135px;
  height: 48px;
}
.home {
  display: flex;
  width: 378px;
  height: 29px;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: Ageo;
  font-style: normal;
  font-weight: 500;
}
#H {
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 28.5px;
  /* word-wrap: break-word; */
}
.Log {
  display: flex;
  justify-content: space-between;
  width: 170px;
  height: 49px;
  align-items: center;
  /* border: 1px solid black; */
}

#sign {
  width: 110px;
  height: 49px;
  /* flex-shrink: 0; */
  border-radius: 10px;
  background: #f60;
  /* border: #f60; */
  /* align-items: center; */
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  /* line-height: 45px; */
}

.SECTION-2 {
  display: flex;
  /* gap: 10px; */
}
#boost {
  /* border: 1px solid black; */
  margin-top: 100px;
  margin-left: 135px;
  width: 500px;
  height: 260px;
  flex-shrink: 0;
  color: #0b1b35;
  font-family: Ageo;
  font-size: 70px;
  font-style: normal;
  font-weight: 850;
  line-height: 81px; /* 115.714% */
}
#frame-1 {
  display: flex;
  /* border: 1px solid black; */
  background-image: url(Frame_1.png);
  width: 655.237px;
  height: 618.088px;
  flex-shrink: 0;
}
#our_goal {
  width: 555px;
  height: 62px;
  /* flex-shrink: 0; */
  color: #000;
  font-family: Ageo;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.5px; /* 129.545% */
  /* border: 1px solid black; */
  margin-top: 40px;
  margin-left: 1px;
}
.get_learn {
  width: 330px;
  height: 49px;
  /* border: 1px solid black; */
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}
#orange {
  width: 152px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f60;
  /* border: #f60; */
  text-align: center;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 49px; */
}
#learn {
  /* border: 1px solid black; */
  width: 120px;
  color: #000;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 158.333% */
  text-align: center;
  /* line-height: 49px; */
  background-color: #fff;
  border: #fff;
}
.VISION {
  /* border: 1px solid black; */
  width: 800px;
  height: 85px;
  margin: 0 auto;
  margin-top: 129px;
}
#service {
  /* border: 1px solid black; */
  color: #8a898e;
  text-align: center;
  font-family: Ageo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 203.571% */
  letter-spacing: 6.3px;
}
#our {
  /* border: 1px solid black; */
  color: #0b1b35;
  text-align: center;
  font-family: Ageo;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 54.808% */
  margin-top: 19px;
}
.cards {
  display: flex;
  margin-left: 135px;
  margin-right: 135px;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin-top: 108px;
}
#gra {
  /* border: 1px solid black; */
  width: 352px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(0, 0, 0, 0.02),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}

#gra-1 {
  /* border: 1px solid black; */
  width: 76.469px;
  height: 76.47px;
  flex-shrink: 0;
  background-image: url(line_gra.svg);
  margin: 0 auto;
  margin-top: 30px;
}
#gra-2 {
  /* border: 1px solid black; */
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 79.167% */
  margin-top: 41px;
}
#gra-3 {
  /* border: 1px solid black; */
  width: 270px;
  height: 187px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px; /* 158.333% */
  margin: 0 auto;
  margin-top: 32px;
}
#gra-4 {
  /* border: 1px solid black; */
  width: 162px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f60;
  text-align: center;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 49px; */
  /* margin: 0 auto; */
  margin-top: 18px;
  margin-left: 95px;
  text-align: center;
}
#vid {
  /* border: 1px solid black; */
  width: 352px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(0, 0, 0, 0.02),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}
#vid-1 {
  /* border: 1px solid black; */
  width: 76.469px;
  height: 57.351px;
  flex-shrink: 0;
  background-image: url(Video.svg);
  margin: 0 auto;
  margin-top: 41px;
}
#vid-2 {
  /* border: 1px solid black; */
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 79.167% */
  margin-top: 49px;
}
#vid-3 {
  /* border: 1px solid black; */
  width: 270px;
  height: 187px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px; /* 158.333% */
  margin: 0 auto;
  margin-top: 32px;
}
#vid-4 {
  /* border: 1px solid black; */
  width: 162px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f60;
  text-align: center;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 49px; */
  /* margin: 0 auto; */
  margin-top: 18px;
  margin-left: 95px;
}
#dig {
  /* border: 1px solid black; */
  width: 352px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(0, 0, 0, 0.02),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}
#dig-1 {
  /* border: 1px solid black; */
  width: 76.469px;
  height: 76.47px;
  flex-shrink: 0;
  background-image: url(Chart.svg);
  margin: 0 auto;
  margin-top: 30px;
}
#dig-2 {
  /* border: 1px solid black; */
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 79.167% */
  margin-top: 41px;
}
#dig-3 {
  /* border: 1px solid black; */
  width: 270px;
  height: 187px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px; /* 158.333% */
  margin: 0 auto;
  margin-top: 32px;
}
#dig-4 {
  /* border: 1px solid black; */
  width: 162px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f60;
  text-align: center;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 49px;
  margin: 0 auto; */
  margin-top: 18px;
  margin-left: 95px;
}
.SECTION-3 {
  display: flex;
  /* gap: 10px; */
}
#many {
  /* border: 1px solid black; */
  margin-top: 198px;
  margin-left: 135px;
  width: 303.959px;
  height: 77.196px;
  flex-shrink: 0;
  color: var(--colors-heading, #1e0e62);
  /* Heading / H5 Lead */
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 145.455% */
  /* word-wrap: normal; */
}
#frame-2 {
  display: flex;
  /* border: 1px solid black; */
  background-image: url(chair.png);
  width: 687.526px;
  height: 385.979px;
  flex-shrink: 0;
  border-radius: 10px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
  margin-top: 181px;
  margin-left: 170px;
}
#Startup {
  width: 322.052px;
  height: 125.443px;
  flex-shrink: 0;
  color: var(--colors-text, rgba(21, 20, 57, 0.4));
  /* Text / Paragraph */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  /* border: 1px solid black; */
  margin-top: 30px;
  /* margin-left: 0px; */
}
.exp {
  width: 132.68px;
  height: 48.247px;
  flex-shrink: 0;
  border: 1px solid #d2d0d4;
  margin-top: 72px;
  color: var(--colors-heading, #1e0e62);
  text-align: center;
  border-radius: 30px;
  /* Buttons / Small */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 48.247px; /* 137.5% */
}
.CLIENTS {
  /* border: 1px solid black; */
  width: 800px;
  height: 85px;
  margin: 0 auto;
  margin-top: 146px;
}
#test {
  /* border: 1px solid black; */
  color: #8a898e;
  text-align: center;
  font-family: Ageo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 203.571% */
  letter-spacing: 6.3px;
}
#what {
  /* border: 1px solid black; */
  color: #0b1b35;
  text-align: center;
  font-family: Ageo;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 54.808% */
  margin-top: 19px;
}
.feedback {
  display: grid;
  /* border: 1px solid black;
  height: 600px;
  width: 970px;
  margin: 0 auto; */
}
#fb-1 {
  /* border: 1px solid black; */
  width: 470px;
  height: 237px;
  flex-shrink: 0;
  display: flex;
}
#foto-1 {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  /* border: 1px solid black; */
  background-image: url(Rayhan.png);
  margin-top: 35px;
  margin-left: 35px;
}
#text-1 {
  /* border: 1px solid black; */
  width: 307px;
  height: 153px;
  color: #0b1b35;
  /* Text / Article */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  margin-top: 35px;
  margin-left: 30px;
}
#n-1 {
  /* border: 1px solid black; */
  color: #0b1b35;

  /* Text / Label */
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.30000001192092896;
  margin-top: 13px;
}
#fb-2 {
  /* border: 1px solid black; */
  width: 470px;
  height: 237px;
  flex-shrink: 0;
  display: flex;
  /* margin-left: 30px; */
}
#foto-2 {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  /* border: 1px solid black; */
  background-image: url(Kayley.png);
  margin-top: 35px;
  margin-left: 35px;
}
#text-2 {
  /* border: 1px solid black; */
  width: 307px;
  height: 153px;
  color: #0b1b35;
  /* Text / Article */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  margin-top: 35px;
  margin-left: 30px;
}
#n-2 {
  /* border: 1px solid black; */
  color: #0b1b35;

  /* Text / Label */
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.30000001192092896;
  margin-top: 13px;
}
#fb-3 {
  /* border: 1px solid black; */
  width: 470px;
  height: 237px;
  flex-shrink: 0;
  display: flex;
}
#foto-3 {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  /* border: 1px solid black; */
  background-image: url(Gene.png);
  margin-top: 35px;
  margin-left: 35px;
}
#text-3 {
  /* border: 1px solid black; */
  width: 307px;
  height: 153px;
  color: #0b1b35;
  /* Text / Article */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  margin-top: 35px;
  margin-left: 30px;
}
#n-3 {
  /* border: 1px solid black; */
  color: #0b1b35;

  /* Text / Label */
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.30000001192092896;
  margin-top: 97px;
}
#fb-4 {
  /* border: 1px solid black; */
  width: 470px;
  height: 237px;
  flex-shrink: 0;
  display: flex;
}
#foto-4 {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  /* border: 1px solid black; */
  background-image: url(Allan.png);
  margin-top: 35px;
  margin-left: 35px;
}
#text-4 {
  /* border: 1px solid black; */
  width: 307px;
  height: 153px;
  color: #0b1b35;
  /* Text / Article */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  margin-top: 35px;
  margin-left: 30px;
}
#n-4 {
  /* border: 1px solid black; */
  color: #0b1b35;

  /* Text / Label */
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.30000001192092896;
  margin-top: 97px;
}
.container {
  grid-template-columns: 470px 470px;
  grid-template-rows: 237px 237px;
  gap: 30px;
  display: grid;
  margin-left: 235px;
  margin-top: 101px;
}
.TEAM {
  /* border: 1px solid black; */
  width: 800px;
  height: 85px;
  margin: 0 auto;
  margin-top: 129px;
}
#our-team {
  /* border: 1px solid black; */
  color: #8a898e;
  text-align: center;
  font-family: Ageo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 203.571% */
  letter-spacing: 6.3px;
}
#Subscribe {
  /* border: 1px solid black; */
  color: #0b1b35;
  text-align: center;
  font-family: Ageo;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.5px; /* 54.808% */
  margin-top: 19px;
}
.email {
  display: flex;
  /* border: 1px solid black; */
  height: 250px;
  width: 1180px;
  margin: 0 auto;
  margin-top: 100px;
}
#picture {
  /* background-image: url(email.png);
  width: 100px;
  height: 100px; */
  margin-left: 120px;
}
#lorem {
  /* border: 1px solid black; */
  width: 710px;
  height: 250px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.5px; /* 158.333% */
  margin-left: 99px;
}

#here {
  width: 640px;
  height: 77px;
  flex-shrink: 0;
  border-radius: 49px;
  background: #fff;
  box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px
      rgba(0, 0, 0, 0.02),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  margin-top: 23px;
  border: 1px solid #969696;
  line-height: 77px;
  padding-left: 67px;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #969696;
}
#news {
  width: 700px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f60;
  margin-top: 30px;
  color: #fff;
  font-family: Ageo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.footer {
  width: 1166px;
  height: 23px;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin-top: 211px;
  display: flex;
  justify-content: space-between;
}
#minilogo {
  /* border: 1px solid black; */
  width: 111px;
  height: 23px;
  background-image: url(Logo-mini.png);
}
#rights {
  width: 369px;
  color: var(--colors-heading, #1e0e62);
  /* Text / Paragraph */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
#portfolio {
  display: flex;
  justify-content: space-between;
  width: 455px;
  /* border: 1px solid black; */
  color: var(--colors-heading, #1e0e62);
  align-items: center;
  /* Text / Paragraph */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 26px; 162.5% */
}
